{{! Maintainers - Kev Adsett, Himanshu Rajotia <himanshu.rajotia@credipoint.com>}}
<div class="test-inner component-inner" role="region" aria-label="{{_globals._components._test.ariaRegion}}" {{#if _globals._components._test.ariaRegion}}tabindex="0"{{/if}}>
    {{> component this}}
    {{! complex unless and if combination to set the correct classes for CSS to use in showing marking and disabled states}}
    <div class="test-widget component-widget {{#unless _isEnabled}} disabled {{#if _isInteractionComplete}} complete submitted show-user-answer {{#if _isCorrect}}correct{{/if}} {{/if}} {{/unless}}">
        {{#each _items}}
        <div class="test-item component-item component-item-color component-item-border clearfix {{#if prefix}}prefix{{/if}} {{#if suffix}}suffix{{/if}} {{#unless ../_isEnabled}}{{#if ../_canShowMarking}}{{#if _isCorrect}}correct{{else}}incorrect{{/if}}{{/if}}{{/unless}}">
            {{#if prefix}}
                <label class="test-item-prefix component-item-text-color" id="{{../../_id}}-{{@index}}-aria" for="{{../../_id}}-{{@index}}" aria-label="{{{prefix}}}">
                    {{{prefix}}}
                </label>
            {{/if}}
            {{#if ../_isEnabled}}
                <input type="text" placeholder="{{{placeholder}}}" class="test-item-textbox" data-id="input-{{@index}}" id="{{../../_id}}-{{@index}}" aria-labelledby="{{../../_id}}-{{@index}}-aria" value="" role="textbox">
            {{else}}
                <input type="text" placeholder="{{{placeholder}}}" class="test-item-textbox" data-id="input-{{@index}}" value="{{userAnswer}}" disabled="true" role="textbox">
            {{/if}}
            {{#if suffix}}
                <label class="test-item-suffix component-item-text-color" id="{{../../_id}}-{{@index}}-aria" for="{{../../_id}}-{{@index}}" aria-label="{{{suffix}}}">
                    {{{suffix}}}
                </label>
            {{/if}}
            <div class="test-item-state">
                <div class="test-icon test-correct-icon icon icon-tick"></div>
                <div class="test-icon test-incorrect-icon icon icon-cross"></div>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="buttons">
    </div>
</div>
